@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #1db954;
  --secundary-color: #2941ab;
  --button-color: #222326;
  --uncontraste-color: #919496;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: white;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: var(--primary-color);
}
li {
  list-style: none;
}
a svg {
  height: 4rem;
  fill: white;
}

.container {
  max-width: 98vw;
  margin: auto;
}
header {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding-inline: 5rem;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  gap: 2.5rem;
}
.menu ul li:nth-child(4) {
  height: 1.6rem;
  width: 1px;
  background-color: white;
}
main {
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/783243/pexels-photo-783243.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0000006e;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-inline: 1rem;
}
main h1 {
  font-size: 7.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}
main p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  max-width: 50rem;
  text-align: center;
  color: #ffffff;
}
a > .button,
.button {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.4rem 3.2rem;
  background-color: var(--primary-color);
  border-radius: 3rem;
  margin-bottom: 5%;
  transition: transform 300ms;
  
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: unset;
}
footer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 5rem;
  padding-inline: 4.5rem;
  justify-content: space-between;
}
footer .linha-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-topic {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer-topic h3 {
  padding-block: 2rem;
  font-size: 1.4rem;
  color: var(--uncontraste-color);
  text-transform: uppercase;
}
.footer-topic ul li {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  gap: 1rem;
}
.social-button {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background-color: var(--button-color);
  padding: 1rem;
  transition: tranform 500ms;
}
.social-button:hover{
  transform: scale(1.2);
  background-color: var(--primary-color);
}
.footer-footer {
  display: flex;
  justify-content: space-between;
}
.footer-footer ul {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}
.footer-footer ul li,
.site-copy {
  color: var(--uncontraste-color);
  font-size: 1.4rem;
}
